<h2 class="heading">Register yourself to continue!</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col-6" style="margin: 0 auto">
  <div class="field mb-3">
    <%= f.label :name, class:"label1" %><br/>
    <%= f.text_field :name, class: "form-control", required:true %>
  </div>
  <div class="field mb-3">
    <%= f.label :cnic, class:"label1" %><br/>
    <%= f.text_field :cnic, autofocus: true, class: "form-control", required:true %>
  </div>
  <div class="field mb-3">
    <%= f.label :email, class:"label1" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" , required:true%>
  </div>
  <div class="field mb-3">
    <%= f.label :joining_date, class:"label1" %><br/>
    <%= f.date_select :joindate, required:true%>
  </div>
  <div class="field mb-3">
    <%= f.label :role, class:"label1"%><br/>
    <%= f.radio_button :role, 'HR' %> HR<br>
    <%= f.radio_button :role, 'Manager' %> Manager<br>
    <%= f.radio_button :role, 'Employee' %> Employee<br>
  </div>

  <div class="field mb-3">
    <%= f.label :password , class:"label1"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :password_confirmation , class:"label1"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions mb-3 ">
    <%= f.submit "Sign up", class:"btn btn-danger"  %>
  </div>
  </div>
<% end %>

<p class="heading">Already have an account?<%= render "devise/shared/links" %></p>
