<%if user_signed_in? && current_user.role =="HR" %>

<%= form_for @user, url: update_path(@user) , remote:false do |x| %>
  <%= x.label :Name %>
  <%= x.text_field :name %>
  <%= x.label :CNIC %>
  <%= x.text_field :cnic %>
  <%= x.label :Email %>
  <%= x.email_field :email %>
  <%= x.label :JoiningDate %>
  <%= x.date_select :joindate %>
    <%= x.label :role %><br/>
    <%= x.radio_button :role, 'HR' %> HR
    <%= x.radio_button :role, 'Manager' %> Manager
    <%= x.radio_button :role, 'Employee' %> Employee
  <%= x.submit %>
  <%end %>
  <%else %>
  <h2>Restricted</h2>
<%end %>