<%if user_signed_in?  %>

  <h2 class="heading">Employee Review Form</h2>

<%#= form_for model: review_forms, url:new_review_form_path do |f| %>
  <div class="container">
    <%= form_with model: @ref, url: review_forms_path, method: :post   do |f|%>
      <table class="table table-striped table-hover">
        <thead class="thead-dark ">
        <tr>
          <th>Quality</th>
          <th>Productivity</th>
          <th>Job Knowledge</th>
          <th>Commitment</th>
          <th>Attendance</th>
          <th>Creativity</th>
          <th>Policy</th>
          <th>Lead</th>
          <th>Accomplishments</th>
          <th>Areas to Improve</th>
          <th>Recommendations</th>

        </tr>
        </thead>

        <tbody>
        <% emp_form = ReviewForm.find_by_id(params[:form_id])%>

        <% #emp_form = @ref %>

        <h3>Employee form</h3>
        <tr>
          <td><%= emp_form.quality %></td>
          <td><%= emp_form.productivity %></td>
          <td><%= emp_form.job_knowledge %></td>
          <td><%= emp_form.commitment %></td>
          <td><%= emp_form.attendance %></td>
          <td><%= emp_form.creativity %></td>
          <td><%= emp_form.policy %></td>
          <td><%= emp_form.lead %></td>
          <td><%= emp_form.accomplishments %></td>
          <td><%= emp_form.areas %></td>
          <td><%= emp_form.recommendations %> </td>

        </tr>
        </tbody>
      </table>


 <table class="table table-striped table-hover">
   <thead class="thead-dark ">
        <tr>
          <th>Quality</th>
          <th>Productivity</th>
          <th>Job Knowledge</th>
          <th>Commitment</th>
          <th>Attendance</th>
          <th>Creativity</th>
          <th>Policy</th>
          <th>Lead</th>
          <th>Accomplishments</th>
          <th>Areas to Improve</th>
          <th>Recommendations</th>

        </tr>
        </thead>

        <tbody>
        <% manager_form = ReviewForm.find_by_id(params[:manager_id])%>
        <h3>Manager form</h3>
        <tr>
          <td><%= manager_form.quality %></td>
          <td><%= manager_form.productivity %></td>
          <td><%= manager_form.job_knowledge %></td>
          <td><%= manager_form.commitment %></td>
          <td><%= manager_form.attendance %></td>
          <td><%= manager_form.creativity %></td>
          <td><%= manager_form.policy %></td>
          <td><%= manager_form.lead %></td>
          <td><%= manager_form.accomplishments %></td>
          <td><%= manager_form.areas %></td>
          <td><%= manager_form.recommendations %></td>

        </tr>

        </tbody>
      </table>
     <div class="field mb-3">
        <%= f.label :SubmittedBy %>
        <%= f.text_field :submittedBy, autofocus: true,class:"form-control" , value: current_user.name, readonly:true%>
      </div><br>



      <div class="field mb-3">
        <%= f.label :Remarks %>
        <%= f.text_field :remarks, autofocus: true,class:"form-control" %>
      </div><br>
<div class="field mb-3">

  <%= f.text_field :user_id, autofocus: true,class:"form-control", value: params[:user_id], type:"hidden" %>
</div><br>
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
      <%end %>
<%end %>
</div>