<h2 class="heading">Previous Responses</h2>

<%if user_signed_in? && current_user.role == "HR" %>
  <table class="table table-striped table-hover">
    <thead class="thead-dark ">
    <tr>

      <th>Remarks</th>
      <th>Submitted By</th>
    </tr>
    </thead>
    <tbody>
      <% @rf.each  do |q| %>
        <tr>
          <td><%= q.remarks %></td>
          <td><%= q.submittedBy %></td>
          <td><%= link_to 'delete',q, method: :delete, data: { confirm: "Are you sure"} %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
<%elsif user_signed_in? && current_user.role == "Employee" %>
  <% formEmp = ReviewForm.find_by(user_id: current_user.id) %>

  <table class="table table-striped table-hover">
    <thead class="thead-dark ">
    <tr>


      <th>Submitted By</th>
      <th>Quality</th>
      <th>Productivity</th>
      <th>Job Knowledge</th>
      <th>Commitment</th>
      <th>Attendance</th>
      <th>Creativity</th>
      <th>Policy</th>
      <th>Lead</th>
      <th>Accomplishments</th>
      <th>Areas to improve</th>
      <th>Recommendations</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td><%= formEmp.submittedBy %></td>
      <td><%= formEmp.quality %></td>
      <td><%= formEmp.productivity %></td>
      <td><%= formEmp.job_knowledge %></td>
      <td><%= formEmp.commitment %></td>
      <td><%= formEmp.attendance %></td>
      <td><%= formEmp.creativity %></td>
      <td><%= formEmp.policy %></td>
      <td><%= formEmp.lead %></td>
      <td><%= formEmp.accomplishments %></td>
      <td><%= formEmp.areas %></td>
      <td><%=formEmp.recommendations %></td>
    </tr>
    </tbody>
  </table>


<%else %>
  <% form = ReviewForm.find_by_id(params[:m_id]) %>

  <table class="table table-striped table-hover">
    <thead class="thead-dark ">
    <tr>


      <th>Submitted By</th>
      <th>Quality</th>
      <th>Productivity</th>
      <th>Job Knowledge</th>
      <th>Commitment</th>
      <th>Attendance</th>
      <th>Creativity</th>
      <th>Policy</th>
      <th>Lead</th>
      <th>Accomplishments</th>
      <th>Areas to improve</th>
      <th>Recommendations</th>
    </tr>
    </thead>
    <tbody>

<!--      <tr>-->
<!--        <td><%#= form.submittedBy %></td>-->
<!--        <td><%#= form.quality %></td>-->
<!--        <td><%#= form.productivity %></td>-->
<!--        <td><%#= form.job_knowledge %></td>-->
<!--        <td><%#= form.commitment %></td>-->
<!--        <td><%#= form.attendance %></td>-->
<!--        <td><%#= form.creativity %></td>-->
<!--        <td><%#= form.policy %></td>-->
<!--        <td><%#= form.lead %></td>-->
<!--        <td><%#= form.accomplishments %></td>-->
<!--        <td><%#= form.areas %></td>-->
<!--        <td><%#=form.recommendations %></td>-->
<!--    </tr>-->
    </tbody>
  </table>
<%end %>


<%= link_to 'Back', users_path, class:"nav-link" %>