<%if user_signed_in?  %>
  <% if current_user.role == 'HR' %>
    <%= render 'review_forms/hr_form' %>
  <% else %>
    <h2 class="heading">Employee Review Form</h2>

  <%#= form_for model: review_forms, url:new_review_form_path do |f| %>
    <%= form_with model: @ref, url: review_forms_path, method: :post, local: true   do |f|%>
      <div class="col-5" style="margin: 0 auto">

        <% @form_questions.each_with_index do |question,i| %>

          <div class="field mb-3">
            <%= f.label question %>
            <%= f.number_field "answer-#{i}", autofocus: true,min:1, max:5, class:"form-control", required:true %>

          </div><br>

        <% end %>
          <%= f.text_field :submittedBy, value:current_user.name, autofocus: true,min:1, max:5,class:"form-control", required:true, hidden:true%>
        </div>


        <% if current_user.role == "Employee" %>
          <div class="field form-group">
            <%= f.text_field :user_id, value: current_user.id, class:"form-control", type: "hidden"%>
          </div>

        <%else %>
          <div class="field form-group">
            <%= f.text_field :user_id, value: params[:user_id], class:"form-control"%>
          </div>
        <%end %>
        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>

      </div>
    <% end %>
  <%end %>
<% end %>